<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d6707ad5-7081-444d-ac5c-e3d758e9d0fd/resourceGroups/RG_Imagine/providers/Microsoft.Web/sites/tecnun</ResourceId>
    <ResourceGroup>RG_Imagine</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tecnun.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>tecnun.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tecnun</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tecnun</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TPAContextConnStr" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql04-farm68.kinghost.net;Initial Catalog=tecnun;User ID=tecnun;Password=pwdinsttecnun147" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RH.Infra.Data.DBContexts.ApplicationDbContext, RH.Infra.Data" MigrationConfiguration="RH.Infra.Data.Migrations.Configuration, RH.Infra.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TPAContextConnStr_localhost" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=tecnun;User ID=tecnun;Password=pwdinsttecnun147" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TPAContextConnStr_localhost_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=tecnun;User ID=tecnun;Password=pwdinsttecnun147" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TPAContextConnStr2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\rh.mdf;Initial Catalog=tecnun;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TPAContextConnStr2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=tecnun;AttachDbFilename=|DataDirectory|\rh.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TPAContextConnStr2-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TPAContextConnStr_localhost-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="TPAContextConnStr-Web.config Connection String">
      <ParameterValue>Data Source=mssql04-farm68.kinghost.net;Initial Catalog=tecnun;User ID=tecnun;Password=pwdinsttecnun147</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>